body{
background:#8ba987;
background: url('/home/alexander/FPI_Proyect/PICTURES/poker2.jpg') ;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


input {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Georgia;
  color: #000000;
  font-size: 40px;
  background: #E5E7E9;
  padding: 19px 38px 19px 40px;
}

input:hover {
  background: #AAB7B8;
    background-image: -webkit-linear-gradient(top, #fff, #ffffff);
    background-image: -moz-linear-gradient(top, #fff, #ffffff);
    background-image: -ms-linear-gradient(top, #fff, #ffffff);
    background-image: -o-linear-gradient(top, #fff, #ffffff);
    background-image: linear-gradient(to bottom, #fff, #ffffff);
}
#btnj{
  position: absolute;
  top: 20%;
  left: 10%;
}
#btna{
  position: absolute;
  top: 40%;
  left: 11.4%;
}
#btnA{
  position: absolute;
  top: 60%;
  left: 13.8%;
}
