body{
  background:#8ba987;
  background: url('/home/alexander/FPI_Proyect/PICTURES/477025.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.capasJ1{
    border: 1px solid  #E5E7E9 ;
    width: 24.8%;
    height: 140px;
    float: left;
    color: #FFF;
    text-shadow: 0 0 0.2em #00FFFF, 0 0 0.2em #87F, 0 0 0.2em #87F;
    font-size: 25px;
    font-weight: bold;
}
/* PARA EL CHAT
.capasC{
    border: 1px solid #000;
    width: 24%;
    height: 600px;
    color: #FFF;
    text-shadow: 0 0 0.2em #00FFFF, 0 0 0.2em #87F, 0 0 0.2em #87F;
    float: left;
    font-size: 25px;
    font-weight: bold;
}*/
.capasJ2{
  border: 0.5px solid  #E5E7E9 ;
  width: 24.8%;
  height: 240px;
  float: left;
  color: #FFF;
  text-shadow: 0 0 0.2em #00FFFF, 0 0 0.2em #87F, 0 0 0.2em #87F;
  font-size: 25px;
  font-weight: bold;
}
#divcentral{
  border: 1px solid  #d35400 ;
  width: 49.8%;
  height: 240px;
  float: left;
  color: #FFF;
  text-shadow: 0 0 0.2em #00FFFF, 0 0 0.2em #87F, 0 0 0.2em #87F;
  font-size: 25px;
  font-weight: bold;
}
.capasJ3{
  border: 1px solid  #E5E7E9 ;
  width: 24.8%;
  height: 240px;
  float: left;
  color: #FFF;
  text-shadow: 0 0 0.2em #00FFFF, 0 0 0.2em #87F, 0 0 0.2em #87F;
  font-size: 25px;
  font-weight: bold;
}
.capasJ4{
  border: 1px solid  #E5E7E9 ;
  width: 24.8%;
  height: 120px;
  float: left;
  color: #FFF;
  text-shadow: 0 0 0.2em #00FFFF, 0 0 0.2em #87F, 0 0 0.2em #87F;
  font-size: 25px;
  font-weight: bold;
}
#btn{
  border: 1px solid  #E5E7E9 ;
  width: 99.65%;
  height: 40px;
  float: left;
  color: #FFF;
  text-shadow: 0 0 0.2em #00FFFF, 0 0 0.2em #87F, 0 0 0.2em #87F;
  font-size: 25px;
  font-weight: bold;
}
